html {
  font-size: 62.5%;
}

body {
  font-size: 1.5rem;
  /* line-height: 1.6; */
  background: #f4f4f4;
}

@font-face {
  font-family: sans;
  src: url("fonts/Sans\ Bold.otf") format("opentype");
}

@font-face {
  font-family: main;
  src: url("fonts/Spirited\ Serif.otf") format("opentype");
}

.parent {
  display: grid;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 0.75fr repeat(2, 0.5fr) 5fr;
  grid-column-gap: 0.7rem;
  grid-row-gap: 0.7rem;
  min-height: 667px;
  max-width: 600px;
  margin: 0 auto;
  overflow-y: auto;
  grid-template-areas:
    "header header clear"
    "player vs opponent"
    "comment-in comment-in submit"
    "rock paper scissors"
    "comment-out comment-out comment-out";
  -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 3s; /* Firefox < 16 */
  -ms-animation: fadein 3s; /* Internet Explorer */
  -o-animation: fadein 3s; /* Opera < 12.1 */
  animation: fadein 3s;
}

#header,
#header-2 {
  grid-area: 1 / 1 / 2 / 4;
  font-family: sans;
  justify-self: center;
  align-self: center;
  font-size: 3rem;
  color: #394a64;
  opacity: 0;
  transition: opacity 1s;
}

img {
  width: 100%;
  opacity: 0;
}

#gif {
  grid-area: 4 / 1 / 6 / 4;
  background-repeat: no-repeat;
  background-size: 100vh;
}

#player {
  grid-area: player;
}

#vs {
  grid-area: vs;
}

#player,
#vs,
#opponent {
  align-self: center;
  justify-self: center;
}

#opponent,
#no-button {
  grid-area: opponent;
}
#text-input {
  grid-area: comment-in;
  border: solid 0.05rem #bbb;
  border-radius: 0.4rem;
  padding: 1rem;
}

#username-button {
  grid-area: submit;
}

.comment {
  background: white;
}

#reset {
  display: none;
  margin-top: -19rem;
  height: 2rem;
}

#clear {
  grid-area: clear;
  opacity: 0.1;
}

#comment-out {
  grid-area: comment-out;
  display: grid;
  grid-template-rows: repeat(12, 0.5fr);
  height: 420px;
}

#oppo-comment {
  grid-area: 5 / 1 / 6 / 3;
}

#comment-in {
  grid-area: 4 / 1 / 5 / 4;
}

#rock,
#win-loss-1 {
  grid-area: rock; /* 4 / 1 / 5 / 2; */
  display: none;
}

#paper {
  grid-area: paper; /*4 / 2 / 5 / 3; */
  display: none;
}
#scissors,
#win-loss-2 {
  grid-area: scissors; /* 4  / 3 / 5 / 4; */
  display: none;
}

button,
.rps-buttons {
  border-radius: 4px;
  text-transform: uppercase;
}

.comment {
  border: solid 1px black;
  border-radius: 4px;
  padding: 6px;
  margin-top: 6px;
  width: fit-content;
  height: fit-content;
}

.my-comment {
  margin-left: 33%;
  justify-self: end;
}

.oppo-comment {
  margin-right: 33%;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}