.parent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 0.75fr repeat(2, 0.5fr) 1fr 2fr;
  grid-column-gap: 4px;
  grid-row-gap: 4px;
  height: 100vh;
  grid-template-areas:
    "header header header"
    "player-1 player-1 opponent"
    "comment-in comment-in comment-in"
    ". . submit-button"
    "rock paper scissors"
    "comment-out comment-out comment-out";
}

#header {
  grid-area: header;
}
#start {
  grid-area: 2 / 1 / 3 / 4;
  display: none;
}
#player-1 {
  grid-area: player-1;
}
#opponent, #no-button {
  grid-area: opponent;
}
#add-username {
  grid-area: comment-in;
  /* display: none; */
}
#username-button {
  grid-area: submit-button;
}
#rock {
  grid-area: rock;
}
#reset {
  grid-area: paper;
}
#clear {
  grid-area: scissors;
}
#comment-out {
  grid-area: comment-out;
}

#comment-in {
  grid-area: 4 / 1 / 5 / 4;
  display: none;
}

#rock,
#win-loss-1 {
  grid-area: 3 / 1 / 5 / 2;
  display: none;
}
#paper {
  grid-area: 3 / 2 / 5 / 3;
  display: none;
}
#scissors,
#win-loss-2 {
  grid-area: 3 / 3 / 5 / 4;
  display: none;
}

button,
.rps-buttons {
  border: solid 1px blue;
  border-radius: 4px;
  /* display: none */
}

input {
  border: solid 1px #bbb;
  border-radius: 4px;
}
