html {
  font-size: 62.5%;
}

body {
  font-size: 1.5rem;
  /* line-height: 1.6; */
  background: #f4f4f4;
}

@font-face {
  font-family: sans;
  src: url("fonts/Sans\ Bold.otf") format("opentype");
}

@font-face {
  font-family: main;
  src: url("fonts/Spirited\ Serif.otf") format("opentype");
}
.parent {
  display: grid;
  font-family: main;
  font-size: 2.5rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 0.75fr repeat(2, 0.5fr) 5fr;
  grid-column-gap: 4px;
  grid-row-gap: 4px;
  /* height: 100v; */
  /* height: 667px; */
  min-height: 667px;
  overflow-y: auto;
  grid-template-areas:
    "header header clear"
    "player vs opponent"
    "comment-in comment-in submit"
    "rock paper scissors"
    "comment-out comment-out comment-out";
}

#header {
  grid-area: 1 / 1 / 2 / 4;
  /* grid-area: header; */
  font-family: sans;
  justify-self: center;
  align-self: center;
  font-size: 3rem;
  color: #394a64
}

#start {
  grid-area: 2 / 1 / 3 / 4;
  display: none;
}

#player, #vs, #opponent {
  align-self: center;
  justify-self: center;
}
 
#opponent, #no-button {
  grid-area: opponent;
}
#text-input {
  grid-area: comment-in;
  border: solid .05rem #bbb;
  border-radius: .4rem;
  padding: 1rem;
}


#username-button {
  grid-area: submit;
}
#comment {
  grid-area: rock;
}
#reset {
  grid-area: paper;
  display: none;
}
#clear {
  grid-area: clear;
  opacity: .3;
  
}
#comment-out {
  grid-area: comment-out;
  display: grid;
  grid-template-rows: repeat(12, .5fr);
  height: 420px;
  /* overflow: auto; */
}

#oppo-comment {
  grid-area: 5 / 1 / 6 / 3;
}

/* .comment { 
  height: 20px;
  width: 300px;
} */

#comment-in {
  grid-area: 4 / 1 / 5 / 4;
  /* display: none; */
}

#rock,
#win-loss-1 {
  grid-area: rock; /* 4 / 1 / 5 / 2; */
  display: none;
}
#paper {
  grid-area: paper; /*4 / 2 / 5 / 3; */
  display: none;
}
#scissors,
#win-loss-2 {
  grid-area: scissors; /* 4  / 3 / 5 / 4; */
  display: none;
}

button,
.rps-buttons {
  /* border: solid 1px blue; */
  border-radius: 4px;
  text-transform: uppercase;
}

.comment {
  border: solid 1px black;
  border-radius: 4px;
  padding: 6px;
  margin-top: 6px;
  width: fit-content;
  height: fit-content;
}

.my-comment {
  margin-left: 33%;
  justify-self: end;
}

.oppo-comment {
  margin-right: 33%;
}

/* .button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  color: #333;
  border-color: #888;
  outline: 0; } */